<% errors = model.errors %>

<% if errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h5>Сохранение не удалось из-за <%= I18n.t :error, count: errors.count %>:</h2>

    <ul>
      <% errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
