<h2><%= I18n.t('headings.account_editing') %></h2>

<div class='row'>
  <div class='col-md-6 mt-2'>
    <%= render 'form', user: @user %>

    <%= link_to t('buttons.change_password'), edit_user_registration_path %>
  </div>
</div> 
