<h1>Редактирование события</h1>

<div class='row'>
  <div class='col-md-6 mt-2'>
    <%= render 'form', event: @event %>
  </div>

  <%= link_to 'Удалить событие', event_path(@event), method: :delete, class: 'mt-3 link-danger' %>
</div>
